<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <filter>
        <filter-name>FiltroPrincipal</filter-name>
        <filter-class>com.helpdesk.controladores.FiltroPrincipal</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FiltroPrincipal</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>Principal</servlet-name>
        <servlet-class>com.helpdesk.controladores.Principal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.helpdesk.controladores.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Incidencias</servlet-name>
        <servlet-class>com.helpdesk.controladores.Incidencias</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Informacion</servlet-name>
        <servlet-class>com.helpdesk.controladores.Informacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Empleados</servlet-name>
        <servlet-class>com.helpdesk.controladores.Empleados</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Departamentos</servlet-name>
        <servlet-class>com.helpdesk.controladores.Departamentos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Clasificaciones</servlet-name>
        <servlet-class>com.helpdesk.controladores.Clasificaciones</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Grupo</servlet-name>
        <servlet-class>com.helpdesk.controladores.Grupo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Procesos</servlet-name>
        <servlet-class>com.helpdesk.controladores.Procesos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportGerente</servlet-name>
        <servlet-class>com.helpdesk.reportes.ReportGerente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Reportes</servlet-name>
        <servlet-class>com.helpdesk.controladores.Reportes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Perfil</servlet-name>
        <servlet-class>com.helpdesk.controladores.Perfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrincipalRequisicion</servlet-name>
        <servlet-class>com.helpdesk.controladores.PrincipalRequisicion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Solicitudes</servlet-name>
        <servlet-class>com.helpdesk.controladores.Solicitudes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Empresas</servlet-name>
        <servlet-class>com.helpdesk.controladores.Empresas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Requisiciones</servlet-name>
        <servlet-class>com.helpdesk.controladores.Requisiciones</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequisicionInfo</servlet-name>
        <servlet-class>com.helpdesk.controladores.RequisicionInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Principal</servlet-name>
        <url-pattern>/Principal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Incidencias</servlet-name>
        <url-pattern>/Incidencias</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Informacion</servlet-name>
        <url-pattern>/Informacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Empleados</servlet-name>
        <url-pattern>/Empleados</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Departamentos</servlet-name>
        <url-pattern>/Departamentos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Clasificaciones</servlet-name>
        <url-pattern>/Clasificaciones</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Grupo</servlet-name>
        <url-pattern>/Grupo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Procesos</servlet-name>
        <url-pattern>/Procesos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportGerente</servlet-name>
        <url-pattern>/ReportGerente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Reportes</servlet-name>
        <url-pattern>/Reportes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Perfil</servlet-name>
        <url-pattern>/Perfil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrincipalRequisicion</servlet-name>
        <url-pattern>/PrincipalRequisicion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Solicitudes</servlet-name>
        <url-pattern>/Solicitudes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Empresas</servlet-name>
        <url-pattern>/Empresas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Requisiciones</servlet-name>
        <url-pattern>/Requisiciones</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequisicionInfo</servlet-name>
        <url-pattern>/RequisicionInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>faces/index.xhtml</welcome-file>
        <welcome-file>
            Login
        </welcome-file>
    </welcome-file-list>
</web-app>
