
.bg-color1{
    background-color: #7a2747;    
}

.h-100{
    height: 100%;
}

.navbar1{
    background-color: #7a2747;
    font-size: 80%;
    color: white;
}

.navbar1 .columna{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.navbar1 .columna img{
    width: 80px;
    height: auto;
}

.bgimg-1{
    background-image: url(../img/imagen50.jpg);
    background-size: cover;
    background-position: center;
}

.bg-opa{
    height: 150px;
    background-color: #7a2747b9;
    padding: 30px 10px;
    text-align: center;
}

.mh-inherit{
    min-height: inherit !important;
}

.w-60px{
    width: 60px !important;
}

.titleGestion:hover{
    cursor: pointer;
    background-color: rgb(226, 226, 226);
}
.descripInc{display: none;}

.table-no-b tr td {
    border: none !important;
    padding: 0px !important;
}

.text-custom1 {
    color: #e83e8c;
}

.text-custom2{
    background-color: #dc3545;
}

.cnt-loading{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    color:#b8b3b5;
}

#pnlLinks,
#pnlRegistros {
    overflow-y: auto;
    max-height: 350px;
    overflow-x: hidden;

}


.pnlComentarios{
    background-image: url("../img/12.png");
    width: 100%;
    max-width: 700px;
    margin: auto;
    background-size: 300px;
}
.pnlComentarios .header{
    background-color: #f1f0ef;
    padding: 0px 10px;
}

.pnlComentarios .card-body{
    padding: 0 !important;
}

.pnlComentarios .title{
    margin: 0px;
    color: #d2504d;
    font-size: 1.2rem;
}

.pnlComentarios .icon{
    margin-right: 5px;
}



